blueprint-samples/umgaudit-api/src/main/app/audit-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd ">
	<apikit:config name="audit-api-config" raml="audit-api.raml"
		consoleEnabled="true" consolePath="console" />
	<apikit:mapping-exception-strategy
		name="audit-api-apiKitGlobalExceptionMapping">
		<apikit:mapping statusCode="404">
			<apikit:exception
				value="org.mule.module.apikit.exception.NotFoundException" />
			<set-property propertyName="Content-Type" value="application/json" />
			<set-payload
				value="{ &quot;message&quot;: &quot;Resource not found&quot; }" />
		</apikit:mapping>
		<apikit:mapping statusCode="405">
			<apikit:exception
				value="org.mule.module.apikit.exception.MethodNotAllowedException" />
			<set-property propertyName="Content-Type" value="application/json" />
			<set-payload
				value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" />
		</apikit:mapping>
		<apikit:mapping statusCode="415">
			<apikit:exception
				value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
			<set-property propertyName="Content-Type" value="application/json" />
			<set-payload
				value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" />
		</apikit:mapping>
		<apikit:mapping statusCode="406">
			<apikit:exception
				value="org.mule.module.apikit.exception.NotAcceptableException" />
			<set-property propertyName="Content-Type" value="application/json" />
			<set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" />
		</apikit:mapping>
		<apikit:mapping statusCode="400">
			<apikit:exception
				value="org.mule.module.apikit.exception.BadRequestException" />
			<set-property propertyName="Content-Type" value="application/json" />
			<set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" />
		</apikit:mapping>
	</apikit:mapping-exception-strategy>
	<flow name="audit-api-main">
		<http:inbound-endpoint address="http://localhost:8081/api" />
		<apikit:router config-ref="audit-api-config" />
		<exception-strategy ref="audit-api-apiKitGlobalExceptionMapping" />
	</flow>
	<flow name="get:/audit:audit-api-config">
		<set-payload value="#[NullPayload.getInstance()]" />
		<logger level="INFO" message="#[message.inboundProperties['messageId']]" />
	</flow>
	<flow name="post:/audit:audit-api-config">
		<logger level="INFO" message="#[groovy:message.getPayloadAsString()]" />
		<set-property propertyName="Content-Type" value="application/json" />
		<set-payload value="{messageId:12345}" />
	</flow>
</mule>
