blueprint-samples/file-example/src/main/app/file-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:file-utils="http://www.mulesoft.org/schema/mule/fileutils" 
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper"
	xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/fileutils http://www.mulesoft.org/schema/mule/fileutils/3.3/mule-fileutils.xsd
http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

	
	<file:connector name="fileConnector" autoDelete="false"
		outputAppend="true" streaming="false" validateConnections="true"
		doc:name="File">
	</file:connector>

	<file:endpoint path="${copa.file.inbound}" name="fileInboundEndpoint1"
		connector-ref="fileConnector"
		moveToPattern="#[message.inboundProperties['originalFileName']].upload"
		moveToDirectory="${copa.file.inbound}" pollingFrequency="${copa.file.polling}"
		fileAge="${copa.file.fileage}" responseTimeout="10000" doc:name="File">
		<file:filename-wildcard-filter pattern="*.tsv"/>
	</file:endpoint>

    <context:property-placeholder location="universal.properties"/>
		
	<flow name="fileHandlerFlow1" doc:name="fileHandlerFlow1">
		<file:inbound-endpoint ref="fileInboundEndpoint1" doc:name="File"/>
		<logger level="INFO" message="Original filename: #[message.inboundProperties['originalFileName']]" doc:name="Logger"/>

		<!-- Construct Enterprise Message -->
		<expression-component>
		  import com.umg.blueprint.EnterpriseMessage;
		  EnterpriseMessage mesg = new EnterpriseMessage();
		  mesg.source = message.inboundProperties['originalFileName'] + ".upload";
		  payload = mesg;
		</expression-component>
		<logger level="INFO" message="Sending payload: #[message.payload]" doc:name="Logger"/>
		<json:object-to-json-transformer />

		<!-- Ideally, Enterprise Message is sent to API Gateway at this stage -->
		<http:outbound-endpoint address="http://localhost:8082/apiGateway"/>
	</flow>

	<!--  This flow is simulation of API Gateway -->
	<flow name="filePickupStarterFlow" doc:name="filePickupStarterFlow">
		<http:inbound-endpoint address="http://localhost:8082/apiGateway"
			exchange-pattern="one-way" doc:name="HTTP" />
		<logger level="INFO" category="filePickupStarterFlow" message="#[groovy:message.getPayloadAsString()]" />
		<set-variable  value="#[json://source]" variableName="sourceFileName" doc:name="Property" />
	</flow>
	
</mule>
